<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
    <title>Chirp Blog</title>
  </head>

  <header>
    <nav class="navbar text-center">Chirp Blog</nav>
  </header>
  <body class="bg-slate-700">
    <div class="grid grid-cols-3 gap-4 bg-slate-600">

      {{! sidebar nav }}
      <div class="grid bg-red-500 col-span-1 text-center sticky top-0 h-48">
        <div class="m-4 text-white self-center border-4 border-red-700 p-4">
          <a href="/">
            Home
          </a>
        </div>
        {{! <div class="m-4 text-white self-center border-4 border-red-700 p-4">Sign
          Up</div> }}
        <div class="m-4 text-white self-center border-4 border-red-700 p-4">
          {{#if loggedIn}}
            <a href="/dashboard">DashBoard</a>
            <button id="logout">Logout</button>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </div>
      </div>
      <main>{{{body}}}</main>

    </div>
    <footer class="text-xl h-8 text-white">Thanks for visiting</footer>

    <script src="https://cdn.tailwindcss.com"></script>
    {{! pairing script with logic for logging in/out }}
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
</html>