<form class="text-white text-3xl login-form">
  <div>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" class="text-black" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" class="text-black" />
  </div>
  <div>
    <button
      type="submit"
      class="rounded-full bg-red-500 p-2 my-2"
    >Login</button>
  </div>
</form>

<script src="/javascript/login.js"></script>